/* General styles */
html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes slideIn {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(-20%);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-150%);
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(20%);
  }
}

@keyframes slideOutBottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(150%);
  }
}

.selection-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px; /* Adjust the width as needed */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  overflow-y: scroll;
  display: none; /* Hidden by default */
  z-index: 1010; /* Ensure it is on top of other elements */
  padding: 10px;
  box-sizing: border-box;
  font-family: ariel, sans-serif;
  font-size:.8em;
}

.selection-window {
  overflow-y: scroll;
}

.selection-window::-webkit-scrollbar-thumb {
  background: #000; /* Black color for the scrollbar thumb */
  border-radius: 10px;
}

/* For Firefox */
.selection-window {
  scrollbar-color: #000 #f1f1f1; /* thumb color and track color */
  scrollbar-width: thick;
}

.selection-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selection-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.selection-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#assetThumbnail {
  z-index: 1001; /* Ensure it is on top of other elements */
}

#sledgehammerToolButton {
  background: #ffffff00;
  backdrop-filter: blur(4px);
  font-family: "veneer", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.6em 1em;
  font-weight: 900;
  font-size: 16px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  position: absolute;
  top: 200px; /* Adjust this position as needed */
  right: 20px;
  color: rgb(0, 0, 0); /* Ensure text color is set */
  margin-right: 10px;
}

#sledgehammerToolButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  color:red;

}

#sledgehammerToolButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
  color:red;
}

.warning-message {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "veneer", sans-serif;
  font-size: 16px;
  z-index: 1003; /* Ensure it is on top of other elements */
  display: none; /* Hidden by default */
}


#editorModeButton {
  background: #000000;
  font-family: "veneer", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.6em 1em;
  font-weight: 900;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  position: absolute;
  top: 150px; /* Adjust this position as needed */
  right: 20px;
  color: white; /* Ensure text color is set */
  margin-right: 10px;
}

#editorModeButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#editorModeButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}


.mobile .cinematic-bar {
  z-index: 1000; /* Bars below the button */
}

.cinematic-bar {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100px; /* Height of the bars */
  background-color: black;
  z-index: 1000; /* Ensure the bars are on top */
  pointer-events: none; /* Allow clicks to pass through */
  display: none; /* Initially hidden */
}

#topBar {
  top: 0;
  transform: translateY(-150%); /* Start off-screen */
}

#bottomBar {
  bottom: 0;
  transform: translateY(150%); /* Start off-screen for bottom bar */
}

#canvasContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#generateButton, #toggleButton {
  background: #fbca1f;
  font-family: "veneer", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.6em 1em;
  font-weight: 900;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  position: absolute;
  color: black; /* Ensure text color is set */
  margin-right: 10px;
}

#toggleButton {
  position: absolute;
  top: 80px; /* Adjust to move higher, keep a gap from generateButton */
  right: 20px ;
  background: #ff5757;
  border-radius: 1000px;
  z-index:1000;
}
#generateButton {
  position: absolute;
  top: 20px; /* Adjust to move higher */
  right: 20px;
}

#generateButton:hover, #toggleButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#generateButton:active, #toggleButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(0px) grayscale(100%); /* Adjust blur radius and grayscale percentage */
  color: #fbca1f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13em;
  font-family: "veneer", sans-serif; /* Customizable font family */
  z-index: 1001;
}

#musicNotesContainer {
  position: fixed;
  bottom: 180px; /* Adjust to position above the radio */
  right: 50px; /* Adjust to position near the radio */
  pointer-events: none; /* Allow clicks to pass through */
  display: none; /* Initially hidden */
  z-index: 1002; /* Ensure it is on top of other elements */
}

.music-note {
  position: absolute;
  font-size: 24px;
  color: #000; /* Adjust color as needed */
  opacity: 0;
  animation: float 3s infinite;
}

.music-note:nth-child(1) {
  animation-delay: 0s;
}

.music-note:nth-child(2) {
  animation-delay: 1s;
}

@keyframes float {
  0% {
      transform: translateY(0) translateX(0);
      opacity: 1;
  }
  50% {
      transform: translateY(-30px) translateX(-10px);
      opacity: 0.5;
  }
  100% {
      transform: translateY(-60px) translateX(-20px);
      opacity: 0;
  }
}


#radio {
  position: fixed;
  bottom: -20px; /* Adjust as needed */
  right: -20px; /* Adjust as needed */
  width: 130px; /* Initial size */
  height: auto;
  cursor: pointer;
  transition: bottom 0.3s ease, right 0.3s ease, transform 0.3s ease, width 0.3s ease;
  transform: rotate(-15deg); /* Initial rotation */
  z-index: 1001;
}

#radio:hover {
  bottom: -15px; /* Adjust as needed */
  right: -15px; /* Adjust as needed */
  width: 135px; /* Enlarged size */
  transform: rotate(-10deg); /* Remove rotation when active */
}

#radio.active {
  bottom: 30px; /* Adjust as needed */
  right: 30px; /* Adjust as needed */
  width: 150px; /* Enlarged size */
  transform: rotate(0deg); /* Remove rotation when active */
  z-index: 999;
}

#skipButton {
  position: absolute;
  bottom: 130px; /* Position above the song name container */
  right: 40px; /* Align with the radio */
  z-index: 1000;
  font-family: helvetica;
  font-weight: lighter;
  font-style: normal;
  padding: 0.6em 1em;
  font-weight: 900;
  font-size: 10px;
  border: 1.8px solid #e4d6a7;
  border-radius: 2em;
  cursor: pointer;
  color: #e4d6a7; /* Ensure text color is set */
  background-color: #41463d;
  display: none; /* Initially hidden */
}

#skipButton.visible {
  display: block; /* Show when the class is added */
}

#skipButton:hover {
  background-color: #707968;
  color: white; /* Ensure text color is set */
  transition: 0.1s ease; /* Smooth transition */
  font-size: 11px;
  padding: 0.6em 1em;
}

/* Container for song name */

#songNameContainer {
  position: fixed;
  margin-right:20px;
  bottom:33px; /* Position above the radio */
  right: 20px; /* Align with the radio */
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
  z-index: 1000;
  font-family: "veneer", sans-serif; /* Customizable font */
  font-size: 12px; /* Customizable font size */
  transition: right 0.5s ease; /* Smooth transition */
}

/* Slide in from the right */
@keyframes slideInRight {
  from {
      right: -200px;
  }
  to {
      right: 165px;
  }
}

/* Slide out to the right */
@keyframes slideOutRight {
  from {
      right: 20px;
  }
  to {
      right: -200px;
  }
}

/* Applied when the container is visible */
.songNameContainer.visible {
  animation: slideInRight 0.5s forwards;
}

/* Applied when the container is hidden */
.songNameContainer.hidden {
  animation: slideOutRight 0.5s forwards;
}

#editorModeButton {
  position: static;
  margin: 10px;
}

#sledgehammerToolButton {
  position: static;
  margin: 10px;
}


/* MOBILE START */


/* Mobile optimization */
@media (max-width: 600px) {

    /* Container for song name */
#songNameContainer {
  font-size: 12px; /* Customizable font size */
  position: absolute;
  bottom:1.5px;
  right:0px;
}

  #generateButton, #toggleButton {
    padding: 0.4em 0.8em;
    font-size: 18px;
    right: 10px;
  }
  #generateButton{
    top: 590px; /* Adjust to appropriate mobile position */
  }
  #toggleButton{
    top: 540px; /* Adjust to appropriate mobile position */
    right:10px;
  }

  #skipButton {
    bottom: 85px; /* Adjust this value to move the button lower */
    right: 280px; /* Adjust the horizontal position */
    font-size: 9px; /* Customizable font size */
    z-index: 1000;
  }

  #skipButton:hover {
  background-color: #41463d;
  color: #e4d6a7; /* Ensure text color is set */
  transition: 0.1s ease; /* Smooth transition */
  font-size: 9px;
  padding: .6em 1em;
}

  /* Slide in from the right */
@keyframes slideInRight {
  from {
      right: -200px;
  }
  to {
      right: 0%;
  }
}
#editorModeButton {
  position: fixed;
  top: 10px;
  right: 10px;
  margin: 0;
}

#sledgehammerToolButton {
  position: fixed;
  top: 60px; /* Create a gap between the buttons */
  right: 10px;
  margin: 0;
}

#musicNotesContainer {
  position: fixed;
  bottom: 180px; /* Adjust to position above the radio */
  left: 40px; /* Adjust to position near the radio */
  z-index: 1002; /* Ensure it is on top of other elements */
}
 #radio {
    bottom: -20px; /* Adjust to slightly protrude from the bottom */
    left: -20px;  /* Adjust to slightly protrude from the right */
    width: 110px; /* Enlarged size */
    transform: rotate(15deg); /* Initial rotation */
    z-index:999;
  }

  #radio:hover {
    bottom: -20px;
    right: -20px;
    width: 110px; /* Enlarged size */
    transform: rotate(10deg); /* Remove rotation when active */
  }
  
  #radio.active {
    bottom: 10px;
    left: 10px;
    width:110px; /* Enlarged size */
    transform: rotate(0deg); /* Remove rotation when active */
  }

}

/* MOBILE ENDS HERE */


/* Styles for desktop when editor mode is active */
.editor-mode-active #editorModeButton {
position: fixed;
top: 10px;
right: 10px;
margin: 0;
}

.editor-mode-active #sledgehammerToolButton {
position: fixed;
top: 60px; /* Create a gap between the buttons */
right: 10px;
margin: 0;
}

  #loadingScreen {
    text-align: center;
    font-size: calc(6vw + 6vh); /* Adjust the scaling factor as needed */
    background: rgba(0, 0, 0, 0.80);
  }

  .cinematic-bar {
    z-index: 1000; /* Bars below the button */
  }
