/* General styles */
html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes slideIn {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(-20%);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-150%);
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(20%);
  }
}

@keyframes slideOutBottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(150%);
  }
}

/* Mobile-specific styles */
.mobile #toggleButton {
  position: fixed;
  top: 530px; /* Adjust position as needed */
  right: 30px;
  z-index: 1001; /* Ensure the button is above the bars */
  transform: none; /* No initial off-screen transform */
}

.mobile .cinematic-bar {
  z-index: 1000; /* Bars below the button */
}

.cinematic-bar {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100px; /* Height of the bars */
  background-color: black;
  z-index: 1000; /* Ensure the bars are on top */
  pointer-events: none; /* Allow clicks to pass through */
  display: none; /* Initially hidden */
}

#topBar {
  top: 0;
  transform: translateY(-150%); /* Start off-screen */
}

#bottomBar {
  bottom: 0;
  transform: translateY(150%); /* Start off-screen for bottom bar */
}

#canvasContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#generateButton, #toggleButton {
  background: #fbca1f;
  font-family: "veneer", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.6em 1em;
  font-weight: 900;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  position: absolute;
  color: black; /* Ensure text color is set */
  margin-right: 10px;
}

#toggleButton {
  background: #ff5757;
  border-radius: 1000px;
}

#generateButton {
  top: 20px;
  right: 20px;
}

#toggleButton {
  top: 85px; /* Adjust to prevent overlap with generate button */
  right: 20px;
}

#generateButton:hover, #toggleButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#generateButton:active, #toggleButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(0px) grayscale(100%); /* Adjust blur radius and grayscale percentage */
  color: #fbca1f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13em;
  font-family: "veneer", sans-serif; /* Customizable font family */
  z-index: 1001;
}

#radio {
  position: fixed;
  bottom: -20px; /* Adjust to slightly protrude from the bottom */
  right: -20px;  /* Adjust to slightly protrude from the right */
  width: 130px;  /* Initial size */
  height: auto;
  cursor: pointer;
  transition: bottom 0.3s ease, right 0.3s ease, transform 0.3s ease, width 0.3s ease;
  transform: rotate(-15deg); /* Initial rotation */
  z-index:1001;
}

#radio:hover {
  bottom: -15px;
  right: -15px;
  width: 135px; /* Enlarged size */
  transform: rotate(-10deg); /* Remove rotation when active */
}

#radio.active {
  bottom: 10px;
  right: 10px;
  width: 150px; /* Enlarged size */
  transform: rotate(0deg); /* Remove rotation when active */
  z-index:999;
}

#skipButton.visible {
  display: block; /* Show when the class is added */
}

#skipButton {
  position: fixed;
  bottom: 105px !important; /* Adjust this value to move the button lower */
  right: 15px !important; /* Adjust the horizontal position */
  z-index: 1002;
  font-family: helvetica;
  font-weight: lighter;
  font-style: normal;
  padding: .6em 1em;
  font-weight: 900;
  font-size: 10px;
  border: 1.8px solid #e4d6a7;
  border-radius: 2em;
  cursor: pointer;
  color: #e4d6a7; /* Ensure text color is set */
  background-color: #41463d;
  display: none; /* Initially hidden */
}

#skipButton:hover {
  background-color: #707968;
  color: white; /* Ensure text color is set */
  transition: 0.1s ease; /* Smooth transition */
  font-size: 11px;
    padding: .6em 1em;
}

/* Container for song name */
.songNameContainer {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: -500px; /* Start off-screen */
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
  z-index: 1002;
  font-family: "veneer", sans-serif; /* Customizable font */
  font-size: 16px; /* Customizable font size */
  transition: right 0.5s ease; /* Smooth transition */
}

/* Slide in from the right */
@keyframes slideInRight {
  from {
      right: -200px;
  }
  to {
      right: 165px;
  }
}

/* Slide out to the right */
@keyframes slideOutRight {
  from {
      right: 20px;
  }
  to {
      right: -200px;
  }
}

/* Applied when the container is visible */
.songNameContainer.visible {
  animation: slideInRight 0.5s forwards;
}

/* Applied when the container is hidden */
.songNameContainer.hidden {
  animation: slideOutRight 0.5s forwards;
}


/* Mobile optimization */
@media (max-width: 600px) {
  #generateButton, #toggleButton {
    padding: 0.4em 0.8em;
    font-size: 18px;
  }
  #skipButton {
    bottom: 90px !important; /* Adjust this value to move the button lower */
    right: 320px !important; /* Adjust the horizontal position */
    font-size: 9px; /* Customizable font size */
    z-index: 998;
  }

  #skipButton:hover {
  background-color: #41463d;
  color: #e4d6a7; /* Ensure text color is set */
  transition: 0.1s ease; /* Smooth transition */
  font-size: 9px;
  padding: .6em 1em;
}

  /* Slide in from the right */
@keyframes slideInRight {
  from {
      right: -200px;
  }
  to {
      right: 0%;
  }
}

  /* Container for song name */
  .songNameContainer {
    font-size: 12px; /* Customizable font size */
    position: fixed;
    bottom: 95%; /* Adjust as needed */
  }

  #generateButton {
    top: 590px;
    right: 20px;
  }

  #toggleButton {
    top: 540px;
    right: 30px;
    z-index: 1001;
  }

  #loadingScreen {
    text-align: center;
    font-size: calc(6vw + 6vh); /* Adjust the scaling factor as needed */
    background: rgba(0, 0, 0, 0.80);
  }

  .cinematic-bar {
    z-index: 1000; /* Bars below the button */
  }

  #radio {
    bottom: -20px; /* Adjust to slightly protrude from the bottom */
    left: -20px;  /* Adjust to slightly protrude from the right */
    width: 110px; /* Enlarged size */
    transform: rotate(15deg); /* Initial rotation */
    z-index:999;
  }

  #radio:hover {
    bottom: -20px;
    right: -20px;
    width: 110px; /* Enlarged size */
    transform: rotate(10deg); /* Remove rotation when active */
  }
  
  #radio.active {
    bottom: 10px;
    left: 10px;
    width:110px; /* Enlarged size */
    transform: rotate(0deg); /* Remove rotation when active */
  }
}
